

<div [formGroup]="form">

  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Sniffer</mat-label>
    <input type="text"
           matInput [formControlName]="formField.SNIFFER" [matAutocomplete]="auto"
           [required]="true"
    >

    <mat-spinner color="accent" matSuffix diameter="20"
        *ngIf="isLoadingAutocomplete"></mat-spinner>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAutocomplete">
      <mat-option *ngFor="let option of filteredLeList | async" [value]="option">
        {{option.label}}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="form.get(formField.SNIFFER).hasError('required')">
      El sniffer es requerido
    </mat-error>

    <mat-error *ngIf="form.get(formField.SNIFFER).hasError('autocompleteValueError')">
      Debe seleccionar un elemento de la lista
    </mat-error>


  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="100%" fxFlex.gt-sm="25%">
    <mat-label>Fecha de busqueda</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="formField.EXPIRY">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>


<button mat-flat-button [disabled]="!form.valid"
        (click)="action()" color="primary" >Guardar</button>
<button mat-flat-button (click)="cancel()">Cancelar</button>
