
<div fxLayout="column">


  <div fxLayout="row" fxLayoutAlign="space-between" style="text-align: center">

    <span style="font-size: 170%; margin-top: 24px">Detalles del Registro</span>
    <button mat-icon-button (click)="cancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div>


    <ng-container *ngFor="let d of parent" [ngTemplateOutlet]="objectTemplate"
                  [ngTemplateOutletContext]="{data:d}">
    </ng-container>


    <mat-divider *ngIf="thereAreChildren()"></mat-divider>

  </div>


  <div *ngIf="objects.length > 0">
    <h2>Datos Hijos del Registro</h2>


    <ng-container *ngFor="let ob of objects; let i = index">
      <ng-container *ngFor="let d of ob" [ngTemplateOutlet]="objectTemplate"
                    [ngTemplateOutletContext]="{data:d}">
      </ng-container>

      <mat-divider></mat-divider>
    </ng-container>
  </div>

</div>

<!-- plantilla para cada uno de los campos de un objeto -->
<ng-template let-data="data" #objectTemplate>
  <h3>{{data.label}}</h3>
  <pre>{{data.value}}</pre>
</ng-template>
