<app-filter-by-colum [(query)]="query" [schema]="schema"></app-filter-by-colum>

<mat-paginator
    (page)="onChangePage($event)"
    [length]="totalRows"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>

</mat-paginator>

<div class="table-container ">


  <table mat-table [dataSource]="dataSource">

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    <ng-container [matColumnDef]="c" *ngFor="let c of columns">
      <th mat-header-cell *matHeaderCellDef>{{getColumnName(c)}}</th>

      <td mat-cell *matCellDef="let element">

        <ng-container [ngTemplateOutlet]="c != 'actions'? cellContent: cellButtons"
        [ngTemplateOutletContext]="{column:c,element:element}"></ng-container>

      </td>


    </ng-container>


  </table>

</div>

<!-- plantillas para las celdas de la tabla -->
<ng-template let-c="column" let-element="element" #cellContent>
  {{pipeData(element, c)}}
</ng-template>


<ng-template let-c="column" let-element="element" #cellButtons>

  <ng-container *ngFor="let  b of actionButtons">
    <button *ngIf="b.active"
            tabindex="-1"
            [matTooltip]="b.tooltip"
            mat-icon-button
            [color]="b.color"
            (click)="buttonActionCallback(element, b.id)">
      <mat-icon>{{b.icon}}</mat-icon>
    </button>
  </ng-container>
</ng-template>
